.star-detail-frame {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
.star-detail-image {
  height: 300px;
  width: 300px;
  border-radius: 300px;
  object-fit: cover;
}
.star-detail-info {
  margin-left: 20px;
  height: 300px;
  width: 60%;
}

.star-detail-title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
}

.star-detail-description {
  /* margin: 1rem 0; */
  font-size: 2rem;
  color: white;
}

.star-detail-like-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.star-detail-like {
  color: white;
  margin-right: 5px;
}

.age-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.age-section h6 {
  color: grey;
}
.star-detail-age {
  margin-left: 10px;
}
